.location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location h2 {
    margin-top: 50px;
    font-family: 'League';
    text-transform: uppercase;
}

.address {
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
}

.address h4 {
    font-family: 'League';
    text-transform: uppercase;
    color: #ff66c4;;
}

.address h4, .address p {
    margin: 20px 0;
}

.map {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.contactContainer h1 {
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

textarea, input:not([type='submit']) {
    height: 50px;
    padding-left: 16px;
    width: 250px;
}

textarea {
    padding-top: 16px;
    resize: none;
    height: 250px;
}

input, textarea {
    border-radius: 20px;
    border: #888 1px solid;
    box-sizing: border-box;
    justify-self: center;
    background-color: #fff;
    color: #fff
}

::placeholder {
    color: #080808
}

input[type='submit'] {
    background-color: #ff66c4;
    color: #080808;
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 50px;
    font-size: 20px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    margin: auto;
    margin-bottom: 20px;
    text-transform: uppercase;
}

input[type='submit']:hover {
    transform: scale(1.05);
    background-color: #ff66c4;
    color: #fff;
}

input[type='submit']:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}


@media (width >= 800px) {
    textarea, input:not([type='submit']) {
        width: 600px;
        font-size: 20px;
    }
    form {
        gap: 40px;
    }
}

@media (width >= 1400px) {
    textarea, input:not([type='submit']) {
        width: 800px;
    }
}

/*Media query for address and map*/

@media (max-width: 760px) {
    .address {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .location h2 {
        text-align: center;
    }
}