@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Roboto+Mono:wght@100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:wght@800&display=swap" rel="stylesheet">');

.header {
    font-family: 'League Script';
    text-align: center;
    color: #ff66c4;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: bold;
}

.hairContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.display {
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.hairTreatment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
}

.hairTreatment span, p {
    text-transform: uppercase;
    font-size: 16px;
}

.hairTreatment p {
    display: block;
    margin-left: 100px;
}

#hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: #888;
}


.combinedTreatment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;
    text-align: center;
}

.combinedTreatment h6 {
    font-size: 18px;
    text-align: right;
    text-transform: uppercase;
    margin-right: 15px;
    color: #ff66c4;
}

.hairTreatmentCombined {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
    align-self: center;
    margin-left: 20px;
}

.hairTreatmentCombined span {
    text-align: center;
}

.hairTreatmentCombined p {
    margin-right: 60px;
}
