.beautyContainer {
    display: flex;
    flex-direction: column;
    text-align: center;        
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    
}

.sectionTitle {
    font-family: cursive;
    font-size: 32px;
}

.beautyTreatment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
}

.beautyTreatment span, p {
    text-transform: uppercase;
    font-size: 16px;
}

.beautyTreatment p {
    display: block;
}

#hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: #888;
}
